h1 {
  margin: 0.33em;
}

.App-header {
  padding: 1em;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
}
